apollo/firmware-update/km4.mbn filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/xbl_4.elf filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/xbl_config_4.elf filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/abl.elf filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/BTFM.bin filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/featenabler.mbn filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/hyp.mbn filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/tz.mbn filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/xbl_5.elf filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/xbl_config_5.elf filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/aop.mbn filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/cmnlib.mbn filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/devcfg.mbn filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/uefi_sec.mbn filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/qupv3fw.elf filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/storsec.mbn filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/cmnlib64.mbn filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/dspso.bin filter=lfs diff=lfs merge=lfs -text
apollo/firmware-update/NON-HLOS.bin filter=lfs diff=lfs merge=lfs -text
